{{template "base" .}}

{{define "content"}}

    <div class="container main-content">
        <div class="row">
        <div class="col">
            <h1>Choose a room</h1>

            {{$rooms := index .Data "rooms"}}

            <ul>
            {{range $rooms}}
            <li style="list-style: none;"><a href="/choose-room/{{.ID}}" style="font-size: 20px; color: #F88379">{{.RoomName}}</a></li>
            {{end}}
        </ul>

        </div>
    </div>
    </div>

{{end}}